* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  line-height: 18px;
  color: #5c646e;
}

.container {
  width: 980px;
  margin: 0 auto;
}

.logo {
  display: inline-block;
}

a {
  color: #ff1744;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: auto;
}

p,
ul,
ol,
figure {
  margin: 0 0 16px 0;
}

* + p,
* + ul,
* + ol * + figure {
  margin-top: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.67em 0;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 0.67em;
}

h1 {
  color: #ffffff;
  font-family: "Playfair Display - Black";
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.32px;
}

.icon {
  font-size: 50px;
}
.icon:hover {
  background: linear-gradient(to right, #00e0d0 0%, #4aa3cc 100%);
}
