.button {
  display: inline-block;
  margin: 0;
  border-radius: 0;
  border: border: 1px solid #00e0d0;
  font-size: 14px;
  padding: 8px 16px;
  outline: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.button:hover {
  text-decoration: none;
}
.button:focus {
  outline: none;
}

.button-primary {
  color: #00e0d0;
  background: rgba(255, 255, 255, 0);
}

.button-primary:hover {
  color: #413d4b;;
  
}
.button-danger {
  color: #ffffff;
  background-color: red;
}

.button-danger:hover {
  color: red;
  background-color: #ffffff;
  border-color: red;
}

.button-large {
  padding: 22px 64px;
}

.button-medium {
  padding: 12px 24px;
}

.button-full {
  width: 100%;
}
